

<template data-name='icon'>
  <icon-entry>
    <div class='icon'></div>
    <kbd class='code'></kbd>
    <h3 class='title'></h3>
  </icon-entry>
</template>

<script>
(function () {

const ICON_VARIANTS = [
  'default',
  'outline',
  'filled',
]


function listen (eventName, callback) {
  this.addEventListener(eventName, callback)
  return () => this.removeEventListener(eventName, callback)
}


function onclick (callback) {
  return listen.call(this, 'click', callback)
}


function register (key, setter, getter) {
  let el = this.querySelector('.' + key) || this.firstElementChild
  setter = setter || ((el, val) => { el.textContent = val })
  getter = getter || ((el) => el.textContent)

  this.__defineSetter__(key,
    (val) => { setter.call(this, el, val) })

  this.__defineGetter__(key,
    () => getter.call(this, el))

}

function descriptionForItem (item) {
  let el            = document.createElement('article')
  let icon          = el.appendChild(document.createElement('div'))
  let iconContent   = item.svgLayer.cloneNode(true)

  icon.classList.add('icon')
  icon.appendChild(iconContent)

  const code = (type, content) => body.querySelector('code.' + type).textContent = content
  const addSection    = (titleText, content) => {
    let description   = el.appendChild(document.createElement('section'))
    let title         = description.appendChild(document.createElement('h2'))
    let body          = description.appendChild(document.createElement('div'))
    body.innerHTML    = content
    title.textContent = titleText
    return body }

  const body = addSection(item.displayName,
  ` <h3>Use as SVG</h3>
    <code class='svg'></code>
    <ol>
      <li>Download and include the <a href='/icons.svg'>trinity.svg</a> file in your project</li>
      <li>Either embed the file's contents inline in your document (allows you to refer to an icon by its name without the filename), or just refer to it by the svg use tag.</li>
      <li>Use the code above to draw the icon. The icon's appearance may be customized with css svg styles such as stroke-width, stroke and fill</li>
    </ol>

    <h3>Use as webfont</h3>
    <code class='font'></code>
    <ol>
      <li>Download the <a href='/assets/iconfpnt.zip'>font files</a></li>
      <li>Include the font's css file in your document's head</li>
      <li>Use the code above to draw the icon</li>
    </ol>

    <h3>Use as image</h3>
    <code class='img'></code> `)

  code('svg',  `<svg><use href='trinity.svg#${item.title}' /></svg>`)
  code('img',  `<img src='trinity.svg#${item.title}' />`)
  code('font', `<i class='tri tri-${item.title}'></i>`)
  return el
}


class IconElement extends HTMLElement {

  attachedCallback () {
    onclick.call(this, this.open)
    register.call(this, 'title')
    register.call(this, 'code')
    register.call(this, 'icon',
      (el, val) => el.innerHTML = `<svg-icon name='${val}'></svg-icon>`,
      (el) => el.getAttribute('name'))
  }

  get svgLayer () {
    return this.querySelector('svg-icon')
  }

  get displayName () {
    return this.svgLayer.displayName
  }

  get variant () {
    return this.svgLayer.variant
  }

  open () {
    if (!window.overlay)
      window.overlay = new OverlayView()

    overlay.show(descriptionForItem(this))
  }

}


class SVGIconElement extends HTMLElement {

  get displayName () {
    let parts = (this.name || '').split('-')
    if (parts[0] === 'flat')
      parts.shift()
    return parts.join(' ').replace(/\s(\w)/g, (_, char) => char.toUpperCase())
  }

  get variant () {
    let parts = (this.name || '').split('-')
    let last = parts[parts.length - 1]
    return ICON_VARIANTS.indexOf(last.toLowerCase()) > -1 ? last : 'regular'
  }

  attachedCallback () {
    let base = '' // 'icons.svg'
    this.name = this.getAttribute('name')
    this.innerHTML = `<svg class='icon style-${this.variant}' name='${this.name}'><use href='${base}#${this.name}' /></svg>`
  }
}

document.registerElement('icon-entry', IconElement);
document.registerElement('svg-icon', SVGIconElement);

})()
</script>
