

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 300 22px/1.675em Helvetica Neue, Roboto, Open Sans, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: Gotham, Novecento Sans Wide, Montserrat, Raleway;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 1em;
  letter-spacing: 1em;
  text-align: center;
  font-weight: 100;
  padding:     30vh 0;
  color: white;
  background: linear-gradient(110deg, #5f0c58, #5669da);
  text-shadow: 0.9em 0px 0px rgba(185, 234, 241, 0.3) }

h3 {
  font-size:      0.5em;
  line-height:    1.25em;
  letter-spacing: 0 }

kbd {
  display: none }

header {
  position: relative }

.fixed-header header nav {
  position: fixed;
  box-shadow: 0 1px 67px rgba(0,0,0,0.1);
  top: 0;
  left: 0;
  right: 0 }

header nav {
  position: absolute;
  transition: .2s all;
  width: 100%;
  display: flex;
  font-size: 0.6em;
  background-color: #f8f8f8;
  padding: 1rem;
  z-index: 2000 }

header nav > *:not(:last-child) {
  font-weight:  400;
  margin-right: 1em }

header nav > * {
  flex: 1 1;
  text-decoration: none;
  line-height: 3rem;
  height: 3rem;
  box-sizing: border-box;
  /*font-family: Gotham, Novecento Sans Wide, Montserrat, Raleway;
  text-transform: uppercase;
  font-weight: 300;*/
  display: block }

button,
header a {
  flex: 1 1;
  padding: 0 1.5em;
  border-radius: 4em;
  background-color: #5669da;
  background-image: linear-gradient(120deg, transparent 33%, #ff3a88 133%);
  color: white;
  background-position: 0 0;
  text-align: center;
  transition: .3s all;
}

header nav > i {
  font-size: 3rem;
  flex-grow: 0 }

header input:focus {
  width: 67%;
  flex: 4 0 }


a:hover {
  transition-duration: .1s;
  background-color: #ff3a88 }

#preview {
  position: absolute;
  overflow: hidden;
  height:   8rem;
  width:    38%;
  right:    0;
  opacity:  1;
  z-index:  2050;
  transition-duration: .2s;
  transition-property: height, opacity, background-color, top;
  transition-timing-function: cubic-bezier(0.57, 0.15, 0, 0.88);
}
#preview.hidden {
  opacity: 0;
  height:  0 }

.fixed-header #preview {
  background: #f8f8f8;
  position: fixed;
  top: 5rem;
}

#icons {
  justify-content: center;
  align-items: stretch;
  flex-flow:   row wrap;
  display:     flex;
  max-width:   80vw;
  padding:     4em 0;
  padding:     10vw 0;
  margin:      0 auto }

icon-entry {
  user-select: none;
  text-align:  center;
  display:     block;
  cursor:      pointer;

  padding:       1em;
  transition:   .3s all .1s;
  border-radius: 4px;
  flex:          0 1 6em }

icon-entry h3 {
  padding:         0.5em 0 0;
  font-size:       0.4em;
  letter-spacing: -0.05em;
  text-transform:  lowercase }

icon-entry.hidden {
  display: none }

icon-entry:hover {
  background: #ff3a88;
  color:      #ffffff;
  z-index:    1200;
  transition: .1s all 0s;
  transform:  scale(1.25);
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.1) }

icon-entry svg-icon {
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width:   100% }

icon-entry .icon {
  position: relative;
  padding: 0 0 100%;
  margin:  0 auto;
  height:  0 }

icon-entry svg.icon {
  display: block;
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 1;
  padding: 0;
  width:   100%;
  height:  100% }

/* fill: #e4225d; */

.icon.style-regular {
  stroke-width: 6px }

.icon.style-outline {
  stroke-width: 3px }

.icon.style-filled {
  stroke-width: 0px;
  fill: currentColor }

.icon[name^="flat-"].style-filled,
.icon[name^="flat-"].style-outline,
.icon[name^="flat-"].style-default {
  stroke-width: 0;
  fill: currentColor }

#icons[data-size='xsmall'] icon-entry .icon { width: 20px }
#icons[data-size='small'] icon-entry .icon { width: 40px }
#icons[data-size='medium'] icon-entry .icon { width: 80px }
#icons[data-size='large'] icon-entry .icon { width: 160px }
#icons[data-size='huge'] icon-entry .icon { width: 320px }



label {
  align-items: center;
  display: flex;
  padding: 0.5em 1em;
}

label h3 {
  font-size:    0.6em;
  font-weight:  200;
  margin-right: 1em }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: .3s all;
  appearance: none;
  border:     none;
  outline:    none;
  margin:     0;
  padding:    0;
  border:     1px solid transparent;
  color:      #888;
  font-size:   2rem;
  font-weight: 100 !important;
  border-radius: 2em;
}

input:focus {
  color: black;
  border-color: #e0e0e0 }

input:not([type]), input[type="text"] {
  padding: 0 0 0 0.5em }

input[type="range"] {
  flex-grow: 1 }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: #5669da;
    border-radius: 50% }

input[type="color"] {
  width: 1em;
  height: 1em;
  border: none;
  padding: 0 0.2em;
  box-sizing: content-box;
  background: transparent }

  ::-webkit-color-swatch-wrapper {
    -webkit-appearance: none;
    padding: 0 }

  ::-webkit-color-swatch {
    -webkit-appearance: none;
    background-color: rgb(37, 31, 46);
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50% }

.size {
  position: relative;
}
.size::before {
  content: "";
  display: block;
  position: absolute;
  transition: .2s right;
  mix-blend-mode: overlay;
  top: 0;
  left: 0;
  bottom: 0;
  background: #b5add7 }

.size[data-size='xsmall']::before { right: 99% }
.size[data-size='small']::before { right: 75% }
.size[data-size='medium']::before { right: 50% }
.size[data-size='large']::before { right: 25% }
.size[data-size='huge']::before { right: 0% }




.grp {
  display: flex;
  border-radius: 4rem }

.grp a:first-of-type {
  border-radius: 4rem 0 0 4rem }

.grp a:last-of-type {
  border-right-width: 0;
  border-radius: 0 4rem 4rem 0 }

.grp a {
  border-radius: 0;
  transition: .6s all;
  background-image: none;
  border-right: 1px solid rgba(0, 0, 0, 0.05) }

.grp a:not(.active) {
  color: #888;
  background-color: #f0f0f0 }

.grp a:not(.active):hover {
  color: #3a2d73;
  border-color: #a79ed0;
  background-color: #b5add7 }

.grp a:hover {
  transition-duration: .2s;
  color: #ccc3f4;
  border-color: #433485;
  background-color: #3a2d73 }
